@{
  Layout = "_Layout";
}

@using BestRestaurant.Models;

<h1>Cuisines</h1>

@if (@Model.Count == 0)
{
  <h3>No cuisines have been added yet!</h3>
} 

<ul>
    @* Grabs every Cuisine from the table *@
  @foreach(Cuisine cuisine in Model)
  {
      @* This creates a clickable link titled with the Cuisine's Name, that always redirects to the Details controller, passing the ID of the clicked Cuisine *@
    <li>@Html.ActionLink($"{cuisine.Name}", "Details", new { id = cuisine.CuisineId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new cuisine", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>